body{
    background-color: rgb(0, 255, 0);
}

p{
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    text-align: center;
}

a{
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}