@font-face {
    font-family: enchantment;
    src: url(Fonts/minecraft-enchantment.ttf);
}

body{
    background-color: rgb(0, 255, 0);
}

p{
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    text-align: center;
}

.ab{
    font-size: 50px;
}

.johnny{
    background-color: blue;
    font-family: 'Comic Sans MS', cursive;
}

.anna{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
}

.rose{
    background-color: red;
    font-family: enchantment;
}

.capi{
    background-color: white;
    color: #00a8a8;
    font-family: 'Courier New', Courier, monospace;
}

a{
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}