body{
    background: #ffffff;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(209, 255, 254, 1) 100%);
    background-attachment: fixed;
    height: 100vh;
}

p{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 25px;
}

