@font-face {
    font-family: jjj;
    src: url(Fonts/PxPlus_IBM_CGAthin-2y.ttf);
}

body{
    background-color: black;
    font-family: jjj;
    font-size: calc(25/1920 * 100vw);
    color: rgb(0, 255, 0);
    text-shadow: 0px 0px calc(10/1920 * 100vw) rgb(0, 255, 0);
}