body{
    color: white;
    background-color: black;
    font-size: calc(25 / 1920 * 100vw);
    font-family: 'Courier New', Courier, monospace;
}

div{
    width: 50vw;
    background-color: rgba(255, 255, 255, 0.048);
}
h1{
    font-size: 2em;
}

.smol{
    font-size: 0.5em;
}

img{
    vertical-align: text-bottom;
}