body{
    background-image: url("Square.png");
    background-size: 5%;
}

body::-webkit-scrollbar{
    display: none;
}

p, a{
    color: rgb(0, 255, 0);
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}

.angry{
    color: red;
}