body{
    background: #000000;
    background: radial-gradient(circle, rgb(10, 10, 10) 0%, rgba(0, 0, 0, 1) 100%);
    background-attachment: fixed;
    height: 100vh;
}

.ad{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
    text-align: center;
}

.ad2{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
}

a{
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}

.youre{
    text-align: center;
}

.arouy{
    display: flex;
    justify-content: center;
}