body{
    background: #001400;
    background: radial-gradient(circle, rgba(0, 20, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-attachment: fixed;
    height: 100vh;
}

.ad{
    color: rgb(0, 0, 0);
    background-color: rgb(0, 255, 0);
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
    text-align: center;
}

.ad2{
    color: rgb(0, 0, 0);
    background-color: rgb(0, 255, 0);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
}

a{
    color: rgb(0, 255, 0);
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}

div{
    text-align: center;
}