body{
    background-color: black;
}

body::-webkit-scrollbar{
    display: none;
}

p, a{
    color: rgb(0, 255, 0);
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}

.angry{
    color: red;
}
.rest{
    color: rgb(255, 70, 0);
    width: 50vw;
}
.honors{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(255, 196, 0);
    color: rgb(255, 255, 0);
}