@font-face {
    font-family: VCR;
    src: url(Fonts/VCR_OSD_MONO_1.001.ttf);
}

body{
    background-image: url(Square.png);
    background-size: 5%;
}

p{
    font-size: 25px;
    font-family: VCR;
    color: white;
}

#gay{
    color: red;
}

#are{
    background-color: rgb(0, 170, 0);
    color: rgb(255, 255, 255);
    font-family: VCR;
    padding-inline: 20px;
    padding-block: 3px;
    border: 0px;
    border-radius: 2px;
}

#are:hover{
    background-color: rgb(0, 121, 0);
}