@font-face {
    font-family: VCR;
    src: url(Fonts/OCR-a___.ttf);
}

body{
    background: #001400;
    background: radial-gradient(circle, rgba(0, 20, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-attachment: fixed;
    height: 100vh;
}

p{
    font-size: 30px;
    font-family: VCR;
    color: rgb(0, 255, 0);
    text-align: center;
}

#gay{
    color: red;
}

#are{
    background-color: rgb(0, 170, 0);
    color: rgb(255, 255, 255);
    font-family: VCR;
    font-size: 30px;
    padding-inline: 20px;
    padding-block: 3px;
    border: 0px;
    border-radius: 2px;
}

#are:hover{
    background-color: rgb(0, 121, 0);
}

.trans{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.TERMMMM{
    font-size: 100px;
    text-shadow:
    0 0 8px rgb(0, 255, 0),
    0 0 16px rgba(0, 255, 0, 0.5);
}

#you{
    font-size: 30px;
    font-family: VCR;
    background-color: black;
    color: rgb(0, 255, 0);
    border-style: solid;
}