@font-face {
    font-family: VCR;
    src: url(Fonts/VCR_OSD_MONO_1.001.ttf);
}

body{
    background-color: black;
}

p{
    font-size: 25px;
    font-family: VCR;
    color: white;
}

#gay{
    color: red;
}